<div class="backdrop">
  <div class="center_meme">
    <h1>This is where i would keep my projects</h1>
    <%= image_tag 'https://i.pinimg.com/originals/60/53/95/6053954a3dd4ff104743099a1d7ccec3.png' %>
  </div>
</div>
