
* {
  margin: 0;
  padding: 0 ;
}

.grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: 4fr 1fr 1fr 2fr 1fr 2fr 1fr;
  grid-template-areas:
  "title title"
  "nav nav"
  "tech tech"
  "tech-list tech-list"
  "aboutme aboutme"
  "content content"
  "contact-me contact-me"
  "contact contact"
  "footer footer"
}

.grid div:nth-child(even){
  background-color:;
}

.grid div:nth-child(odd){
background-color:;
}

.hyper-text{
  color: inherit;
  text-decoration: inherit;
  font-size: 90%
}


.intro{
  grid-area: title;
  text-decoration: none;
  text-align: center;
  color: whitesmoke;
  padding-top: 15em;
}

.scroll{
  padding-top: 10em;
}

.nav{
  grid-area: header;
  text-align: center;
  padding-top: 5em;
}

.nav a {
  padding: 1em;
  border-style: solid;
  color: white;
}

.nav a:hover{
  background-color: white;
  color:black;
}

.content{
  grid-area: content;

}

.tech{
  grid-area: tech;
  text-align: center;

}

.tech-list{
  grid-area: tech-list;
  list-style-type:none;
  text-align: center;

}

.footer{
  grid-area: footer;
  text-align:center;


}
.contact{
  text-align: center;
  grid-area:contact;
}
.contact-me{
  grid-area: contact-me;
  text-align: center;
}

.aboutme{
  grid-area: aboutme;
  text-align: center;

}

@media screen and (min-width:auto;)
{
  .grid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "title title"
    "nav nav"
    "tech tech"
    "tech-list tech-list"
    "aboutme content"
    "contact-me contact"
    "footer footer"
  }
}




body {
 background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('IMG_6235-1.jpeg');
 background-repeat: no-repeat;
 background-attachment:fixed !important;
 background-size:cover !important;
 background-position: center !important;
 color: #fff;
}
