
* {
  margin: 0;
  padding: 0 ;
}

.grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: 4fr 1fr 1fr 1fr;
  grid-template-areas:
  "title title"
  "nav nav"
  "tech tech-list"
  "sidebar content"
  "footer footer"
}

.grid div:nth-child(even){
  background-color:
}

.grid div:nth-child(odd){
background-color:
}

.hyper-text{
  color: inherit;
  text-decoration: inherit;
  font-size: 90%
}


.intro{
  grid-area: title;
  text-decoration: none;
  text-align: center;
  color: whitesmoke;
  padding-top:15em
}

.nav{
  grid-area: header;
  text-align: center;
  padding-top:5em;
}

.nav a {
  padding: 2em
}

.tech{
  grid-area: sidebar;
  text-align: center;
  padding-top: 10em;
}

.tech-list{
  grid-area: content;
  list-style-type: none;
  text-align: center;
  padding-top: 10em
}

.footer{
  grid-area: footer;
  text-align:center;
  padding-top: 20em

}

.aboutme{
  text-align: center;
}

@media screen and (min-width:auto)
{
  .grid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 4fr 1fr 1fr 1fr;
    grid-template-areas:
    "title title"
    "nav nav"
    "tech tech"
    "tech-list tech-list"
    "footer footer"
  }
}




body {
 background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('IMG_6235-1.jpeg');
 background-repeat: no-repeat;
 background-attachment:fixed !important;
 background-size:cover !important;
 background-position: center !important;
 color: #fff;
}
