body {
    background-image: url("IMG_6235-1.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: times;
  }

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}

.header{
  text-align: center;
}

.backdrop{
  background-color: black;
  opacity: .3;
  background-size: cover;
}

.home{
  color: inherit;
  text-decoration: none;
  padding: 2%;
  color: whitesmoke;
}

.center_meme{
  font-weight: bold;
  text-align: center;
  color: whitesmoke;
  padding-top: 5%;
  opacity: 1;
}

.header_text{
  color: inherit;
  text-decoration: none;
  padding: 2%;
  color: whitesmoke;
}

.hero-text {
    top: 50%;
    left: 50%;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    color: whitesmoke;
}


.hyper-text{
  color: inherit;
  text-decoration: inherit;
  font-size: 90%
}

.portfolio{
  font-family: times;
}
